#brandCustomization {
    width: 100%;
    height: auto;
}

.brandcustomization_row {
    width: var(--margin-md);
    margin: 0 auto;
    padding: var(--padding-default);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 100px;
}

.brandcustomization_plataforms {
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.brandcustomization_plataforms .plataforms_itens {
    width: 100%;
    margin: 0 auto;
}

.brandcustomization_plataforms .plataforms_itens .plataforms_item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.brandcustomization_plataforms .plataforms_itens .plataforms_item img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.brandcustomization_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.brandcustomization_title .title {
    font-size: var(--xxlg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-weight: 500;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-style: italic;
    text-transform: uppercase;
    text-align: end;
    color: var(--gray);
}

.brandcustomization_title .title span {
    font-size: var(--xlg);
    color: var(--red);
    font-weight: 800;
}

.brandcustomization_row .description_container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.brandcustomization_row .description_container .description_title {
    font-size: var(--lg);
    text-align: center;
    font-weight: 400;
    color: var(--gray);
}

.description_title span {
    color: var(--red);
}

.brandcustomization_row .description_container .description_info {
    text-align: center;
    color: var(--gray);
    font-size: 20px;
    width: 80%;
    line-height: 30px;
    font-weight: 400;
}

.description_itens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 50px 0 0;
}

.description_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    position: relative;
    background: transparent;
    padding: 20px;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    cursor: default;
    min-width: 200px;
    z-index: 0;
    min-height: 200px;
}

.description_item svg {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.description_item path {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    fill: var(--red);
}

.description_item:hover path {
    fill: var(--white);
}

.description_item::before {
    content: '';
    position: absolute;
    top: 0;
    height: 1%;
    width: 100%;
    background-image: var(--gradient-red);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    z-index: -1;
}

.description_item:hover::before {
    height: 100%;
}

.description_item p {
    text-align: center;
    color: var(--black);
    font-size: var(--sm);
    font-weight: 400;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.description_item:hover p {
    color: var(--white);
}

@media screen and (max-width: 1200px) {
    .brandcustomization_title .title {
        font-size: var(--lg);
    }

    .brandcustomization_title .title span {
        font-size: var(--lg);
    }

    .brandcustomization_row {
        width: var(--margin-sm);
    }

    .brandcustomization_row .description_container .description_title {
        font-size: var(--xmd);
    }

    .brandcustomization_row .description_container .description_info {
        font-size: var(--sm);
    }

    .brandcustomization_row .description_container {
        width: 100%;
    }

    .description_itens {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }


    .description_item {
        width: 180px;
        height: 180px;
    }

    .description_item svg {
        width: 35px;
        height: 35px;
    }

    .description_item p {
        font-size: var(--xsm);
    }
}

@media screen and (max-width: 900px) {
    .description_item {
        width: 140px;
        height: 140px;
        min-width: unset;
        min-height: unset;
    }
}

@media screen and (max-width: 540px) {
    .brandcustomization_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .brandcustomization_plataforms {
        width: 100%;
    }

    .brandcustomization_title .title {
        font-size: var(--lg);
    }

    .brandcustomization_title .title span {
        font-size: var(--lg);
    }

    .description_itens {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .brandcustomization_row .description_container {
        width: 100%;
    }

    .brandcustomization_row .description_container .description_title {
        font-size: var(--md);
        line-height: 24px;
        text-align: center;
    }

    .brandcustomization_row .description_container .description_info {
        text-align: center;
        font-size: var(--sm);
        width: 100%;
        line-height: 22px;
    }
}