#allBlog {
    width: 100%;
    height: auto;
    position: relative;
}

#allBlog .allblog_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: var(--margin-md);
    margin: 0 auto;
    gap: 50px;
    padding: var(--padding-default);
}

@media screen and (max-width: 1348px) {
    #allBlog .allblog_row {
        width: var(--margin-sm);
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}