#channels {
    width: 100%;
    height: auto;
    position: relative;
}

.channels_row {
    width: var(--margin-md);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
    padding: var(--padding-default);
}

.channels_row .title {
    font-size: var(--lg);
    text-transform: uppercase;
    color: var(--red);
    font-weight: 400;
    text-align: center;
}

.channels_row .container_channels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 10px;
}

.channels_row .container_channels .channel_item {
    width: 130px;
    height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
}

.channels_row .container_channels .channel_item img {
    width: 100%;
    height: auto;
    text-align: center;
}

@media screen and (max-width: 540px) {
    .channels_row .title {
        font-size: var(--xmd);
    }

    .channels_row .container_channels .channel_item {
        width: 90px;
        height: 70px;
    }

    .channels_row .container_channels {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}