#Cases {
    width: 100%;
    height: auto;
    position: relative;
}

.cases_row {
    width: var(--margin-md);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: var(--padding-default);
    gap: 100px;
}

.cases_row .title {
    width: 100%;
    height: auto;
    padding: 0 0 10px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cases_row .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    height: 2px;
    background-color: var(--gray);
}

.cases_row .title h2 {
    font-size: var(--lg);
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--gray);
}

.cases_row .container_cases {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 100px;
}

.container_cases .item_cases {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 50px;
}

.container_cases .item_cases:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.container_cases .item_cases .item_image {
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container_cases .item_cases .item_image img {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

.container_cases .item_cases .item_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
}

.container_cases .item_cases .item_content .item_logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container_cases .item_cases .item_content .item_logo img {
    width: 100%;
    height: auto;
}

.container_cases .item_cases .item_content .item_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 20px;
}

.container_cases .item_cases .item_content .item_description .subtitle {
    font-size: var(--md);
    color: var(--gray);
    font-weight: 400;
    text-align: start;
}

.container_cases .item_cases .item_content .item_description .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2px;
    text-align: start;
    color: var(--gray);
    font-size: var(--md);
    font-weight: 400;
}

.container_cases .item_cases .item_content .item_description .description span {
    font-size: var(--xsm);
}

@media screen and (max-width: 1440px) {
    .container_cases .item_cases .item_content .item_description .subtitle {
        font-size: var(--sm);
    }

    .container_cases .item_cases .item_content .item_description .description {
        font-size: var(--sm);
    }
}

@media screen and (max-width: 1280px) {
    .container_cases .item_cases .item_image {
        width: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .cases_row .title::before {
        height: 1px;
    }

    .cases_row .title h2 {
        font-size: var(--xmd);
    }

    .container_cases .item_cases {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 50px;
    }

    .container_cases .item_cases .item_image {
        width: 100%;
    }

    .container_cases .item_cases .item_content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .container_cases .item_cases .item_content .item_description .subtitle {
        font-size: var(--sm);
    }

    .container_cases .item_cases .item_content .item_description .description {
        font-size: var(--sm);
    }

    .container_cases .item_cases:nth-child(2n) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}