RewriteEngine on

# Redireciona para HTTPS se estiver na porta 80
RewriteCond %{SERVER_PORT} 80

## External Redirect 
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,NC]

## ## Internal Redirect
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php


## menu pt_br
RewriteRule ^home$ ./index.php?page=1&language=1

RewriteRule ^$ ./index.php?page=1&language=1

RewriteRule ^quem-somos$ ./index.php?page=2&language=1

RewriteRule ^cdn$ ./index.php?page=3&language=1

RewriteRule ^cases$ ./index.php?page=4&language=1

RewriteRule ^personalizacao$ ./index.php?page=5&language=1

RewriteRule ^catalogo$ ./index.php?page=6&language=1

RewriteRule ^blog$ ./index.php?page=7&language=1

RewriteRule ^blog/([a-z0-9]+)?$ ./index.php?page=8&title=$1&language=1 [NC,QSA]
## FIM

## menu en
RewriteRule ^home-en$ ./index.php?page=9&language=2

RewriteRule ^en$ ./index.php?page=9&language=2

RewriteRule ^about-us-en$ ./index.php?page=10&language=2

RewriteRule ^cdn-en$ ./index.php?page=11&language=2

RewriteRule ^cases-en$ ./index.php?page=12&language=2

RewriteRule ^personalization-en$ ./index.php?page=13&language=2

RewriteRule ^catalog-en$ ./index.php?page=14&language=2

RewriteRule ^blog-en$ ./index.php?page=15&language=2

RewriteRule ^blog-en/([a-z0-9]+)?$ ./index.php?page=16&title=$1&language=2 [NC,QSA]
## FIM

## menu es
RewriteRule ^home-es$ ./index.php?page=17&language=3

RewriteRule ^es$ ./index.php?page=17&language=3

RewriteRule ^acerca-de-nosotros-es$ ./index.php?page=18&language=3

RewriteRule ^cdn-es$ ./index.php?page=19&language=3

RewriteRule ^nuestros-casos-es$ ./index.php?page=20&language=3

RewriteRule ^personalizacion-es$ ./index.php?page=21&language=3

RewriteRule ^catalogo-es$ ./index.php?page=22&language=3

RewriteRule ^blog-es$ ./index.php?page=23&language=3

RewriteRule ^blog-es/([a-z0-9]+)?$ ./index.php?page=24&title=$1&language=3 [NC,QSA]
## FIM