.content_presets .share_news .share_item img {
    -webkit-filter: invert(0);
    filter: invert(0);
    width: 17px;
    height: 17px;
}

#postNew {
    width: 100%;
    height: auto;
    position: relative;
}

.postnew_row {
    width: var(--margin-lg);
    margin: 0 auto;
    height: auto;
    padding: var(--padding-default);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.postnew_content .content_image img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-filter: brightness(0.6) blur(0px);
    filter: brightness(0.6) blur(0px);
}

.postnew_content .content_texts .texts a {
    color: var(--red);
    font-size: var(--sm);
}

.postnew_content .content_texts .texts a:hover {
    text-decoration: underline;
}

.postnew_row .postnew_title {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.postnew_row .postnew_title .title {
    font-size: var(--lg);
    font-weight: 500;
    color: var(--red);
    text-align: center;
    text-transform: uppercase;
}

.postnew_row .postnew_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.postnew_content .content_presets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.postnew_content .content_presets .share_news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.postnew_content .content_image {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.postnew_content .content_presets span {
    font-size: var(--xsm);
    text-align: center;
    background-color: #d82242e3;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: default;
}

.content_presets .share_news .share_item {
    background-color: var(--red);
    border-radius: 6px;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}

.content_presets .share_news .share_item:hover {
    background-color: #4c4c4ceb;
}



.postnew_content .content_texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0 0;
}

.postnew_content .content_texts .texts {
    text-align: start;
    line-height: 24px;
    font-size: var(--sm);
    font-weight: 400;
    color: var(--black);
}

.postnew_content .content_image .text_image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #000000ba), to(transparent));
    background-image: -o-linear-gradient(bottom, #000000ba 30%, transparent);
    background-image: linear-gradient(0deg, #000000ba 30%, transparent);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.postnew_content .content_image .text_image .text {
    font-weight: 700;
    font-size: var(--lg);
    line-height: 45px;
    color: var(--white);
    letter-spacing: 0px;
    max-width: 650px;
    width: 650px;
    position: relative;
    left: 30px;
    bottom: 0;
}

.postnew_content .backto {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.postnew_content .backto .backto_button {
    background: transparent;
    border: none;
    font-size: var(--xsm);
    text-transform: capitalize;
    text-align: start;
    font-weight: 500;
    color: #1d1d1d94;
    cursor: pointer;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

.postnew_content .backto .current_page {
    font-size: var(--xsm);
    text-align: start;
    text-transform: capitalize;
    color: var(--black);
    font-weight: 600;
}

.postnew_content .backto .backto_button:hover {
    color: var(--red);
}

@media screen and (max-width: 1200px) {
    .postnew_row {
        width: var(--margin-md);
    }
}

@media screen and (max-width: 540px) {
    .postnew_row {
        width: var(--margin-md);
    }

    .postnew_content .content_image .text_image {
        height: 80px;
    }

    .postnew_content .content_image .text_image .text {
        font-size: var(--md);
        line-height: 20px;
        width: 100%;
        left: 10px;
    }

    .postnew_content .content_texts .texts {
        font-size: var(--xsm);
    }

    .postnew_content .backto {
        flex-direction: column-reverse;
        gap: 5px;
    }

    .postnew_content .content_presets {
        gap: 20px;
    }
}