/* NOC */

#noc {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--red);
}

#noc .noc_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: var(--margin-none);
}

.noc_row .noc_contents {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.noc_contents .noc_content {
    width: 60%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.noc_contents .noc_content .noc_logo {
    width: 440px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.noc_contents .noc_content .noc_logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.noc_contents .noc_content .noc_description {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.noc_contents .noc_content .noc_description::after {
    content: '';
    width: 80%;
    height: 1px;
    background-color: var(--light-gray);
    margin: 0 auto;
    margin: 20px 0 0;
}

.noc_contents .noc_content .noc_description p {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    line-height: 30px;
}

.noc_contents .noc_content .noc_description p span {
    font-weight: bold;
}

.noc_contents .noc_content .noc_subdescription {
    width: 100%;
    height: auto;
}

.noc_contents .noc_content .noc_subdescription p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: var(--white);
}

.noc_contents .noc_content .noc_subdescription p span {
    font-weight: bold;
}

.noc_contents .noc_image {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.noc_contents .noc_image img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.noc_contents .noc_image .title_image {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.noc_contents .noc_image .title_image p {
    font-size: var(--md);
    font-weight: 500;
    text-align: left;
    color: var(--white);
}

/* NOC */

@media screen and (max-width: 540px) {
    #noc {
        width: 100%;
        height: auto;
        position: relative;
        background-color: var(--red);
    }

    #noc .noc_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: var(--margin-none);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .noc_row .noc_contents {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .noc_contents .noc_content {
        width: 90%;
        margin: 10% auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 30px;
    }

    .noc_contents .noc_content .noc_logo {
        width: 100%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .noc_contents .noc_content .noc_logo img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .noc_contents .noc_content .noc_description {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
    }

    .noc_contents .noc_content .noc_description::after {
        content: '';
        width: 60%;
        height: 1px;
        background-color: var(--light-gray);
        margin: 0 auto;
        margin: 10px 0 0;
    }

    .noc_contents .noc_content .noc_description p {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
        line-height: 30px;
    }

    .noc_contents .noc_content .noc_description p span {
        font-weight: bold;
    }

    .noc_contents .noc_content .noc_subdescription {
        width: 100%;
        height: auto;
    }

    .noc_contents .noc_content .noc_subdescription p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        color: var(--white);
    }

    .noc_contents .noc_content .noc_subdescription p span {
        font-weight: bold;
    }

    .noc_contents .noc_image {
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .noc_contents .noc_image img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .noc_contents .noc_image .title_image {
        position: absolute;
        left: 20px;
        bottom: 10px;
    }

    .noc_contents .noc_image .title_image p {
        font-size: var(--md);
        font-weight: 500;
        text-align: left;
        color: var(--white);
    }
}