#NEO {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #F0F0F0;
}

.neo_row {
    width: var(--margin-md);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding: var(--padding-default);
    gap: 20px;
}

.neo_content {
    width: 80%;
    height: auto;
}

.neo_logo {
    width: 50%;
    height: auto;
}

.neo_content .description_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: auto;
    margin: 0 auto;
}

.neo_content .description_container .description {
    font-size: var(--lg);
    font-weight: 400;
    color: var(--gray);
    text-align: end;
}

.neo_content .description_container .description span {
    font-weight: 800;
}

.neo_logo .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
    .neo_content {
        width: 55%;
    }

    .neo_content .description_container .description {
        font-size: var(--xmd);
    }

    .neo_logo .logo img {
        width: 70%;
        height: auto;
        margin: 0;
    }
}

@media screen and (max-width: 540px) {
    .neo_row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 10px;
    }

    .neo_content {
        width: 100%;
    }

    .neo_content .description_container {
        width: 100%;
    }

    .neo_content .description_container .description {
        font-size: var(--xmd);
        text-align: center;
    }

    .neo_logo {
        width: 100%;
    }

    .neo_logo .logo {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .neo_logo .logo img {
        width: 180px;
        margin: 10px auto 0;
    }
}