.containerbox_row .containerbox_image img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#containerBox {
    width: 100%;
    height: auto;
    position: relative;
}

.containerbox_row {
    width: var(--margin-md);
    margin: 0 auto;
    padding: var(--padding-default);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.containerbox_row .containerbox_image {
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.containerbox_row .containerBox_content {
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 20px;
}

.containerbox_row .containerBox_content .containerBox_texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.containerbox_row .containerBox_content .containerBox_texts .title {
    font-size: var(--lg);
    font-weight: 400;
    color: var(--gray);
    line-height: 40px;
    text-align: start;
}

.containerbox_row .containerBox_content .containerBox_texts .description {
    font-size: var(--md);
    line-height: 26px;
    text-align: start;
    color: var(--gray);
    font-weight: 400;
}

.containerbox_row .containerBox_content .containerBox_btn {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.containerbox_row .containerBox_content .containerBox_btn a {
    width: 100%;
    max-width: 200px;
    min-width: 200px;
    border-radius: 30px;
    padding: 10px 0;
    background-image: var(--gradient-red);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: var(--md);
    color: var(--white);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.containerbox_row .containerBox_content .containerBox_btn a:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

@media screen and (max-width: 1200px) {
    .containerbox_row .containerBox_content .containerBox_texts .description {
        font-size: var(--sm);
        line-height: 23px;
    }

    .containerbox_row .containerBox_content .containerBox_texts .title {
        font-size: var(--xmd);
        line-height: 28px;
    }
}

@media screen and (max-width: 1000px) {
    .containerbox_row {
        width: var(--margin-lg);
        flex-direction: column;
    }

    .containerbox_row .containerbox_image {
        width: 100%;
    }

    .containerbox_row .containerBox_content {
        width: 100%;
    }

    .containerbox_row .containerBox_content .containerBox_texts {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-direction: column;
    }

    .containerbox_row .containerBox_content .containerBox_texts .title {
        font-size: var(--xmd);
        line-height: 28px;
        text-align: center;
    }

    .containerbox_row .containerBox_content .containerBox_texts .description {
        font-size: var(--sm);
        line-height: 26px;
        text-align: center;
    }

    .containerbox_row .containerBox_content .containerBox_btn {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .containerbox_row .containerBox_content .containerBox_btn a {
        margin: 0 auto;
    }
}

@media screen and (max-width: 840px) {
    .containerbox_row {
        width: var(--margin-md);
    }
}

@media screen and (max-width: 540px) {
    .containerbox_row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .containerbox_row .containerbox_image {
        width: 100%;
    }

    .containerbox_row .containerBox_content {
        width: 100%;
    }

    .containerbox_row .containerBox_content .containerBox_texts {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .containerbox_row .containerBox_content .containerBox_texts .title {
        font-size: var(--xmd);
        line-height: 30px;
        text-align: center;
    }

    .containerbox_row .containerBox_content .containerBox_texts .description {
        font-size: var(--sm);
        line-height: 24px;
        text-align: center;
    }

    .containerbox_row .containerBox_content .containerBox_btn {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .containerbox_row .containerBox_content .containerBox_btn a {
        font-size: var(--sm);
    }
}