/* CDN MULTI-TENDANCE */

#cdnmulti {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url(https://preprod.containermedia.com.br/containermediatech/src/assets/images/bg-cdn-multi-tendance.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cdnmulti .cdnmulti_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--margin-md);
    margin: 0 auto;
    padding: var(--padding-default);
    gap: 50px;
}

#cdnmulti .cdnmulti_row h2 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 300;
}

#cdnmulti .cdnmulti_row h2 span {
    font-weight: bold;
    color: var(--red);
}

.cdnmulti_row .advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.advantage .advantage_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 250px;
}

.advantage .advantage_item .advantage_icon_container {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.advantage .advantage_item .advantage_icon_container::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: var(--white);
}

.advantage .advantage_item:nth-child(1) .advantage_icon_container:before {
    width: 50%;
    right: 0;
}

.advantage .advantage_item:nth-child(3) .advantage_icon_container:before {
    width: 50%;
    left: 0;
}

.advantage_icon_container .advantage_icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: var(--black-blue);
    z-index: 1;
}

.advantage_icon_container .advantage_icon span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 50%;
}

.advantage_icon_container .advantage_icon span img {
    width: 80%;
    height: auto;
}

.advantage_item .advantage_description_container {
    width: 225px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 145px;
    border: 2px solid var(--white);
    border-radius: 20px;
    padding: 5px;
}

.advantage_description_container .advantage_description {
    width: 205px;
    height: 127px;
    background-color: var(--dark-gray);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage_description p {
    text-align: center;
    padding: 10px;
    color: var(--white);
    font-size: 17px;
    line-height: 22px;
}

#cdnmulti .cdnmulti_row a {
    width: 235px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--md);
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition);
}

#cdnmulti .cdnmulti_row a:hover {
    color: var(--red);
    background-color: var(--white);
}

/* CDN MULTI-TENDANCE */

@media screen and (max-width: 540px) {
    #cdnmulti {
        width: 100%;
        height: auto;
        position: relative;
        background-image: url(https://preprod.containermedia.com.br/containermediatech/src/assets/images/bg-cdn-multi-tendance.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #cdnmulti .cdnmulti_row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: var(--margin-md);
        margin: 0 auto;
        padding: var(--padding-default);
        gap: 50px;
    }

    #cdnmulti .cdnmulti_row h2 {
        font-size: 24px;
        text-align: center;
        line-height: 30px;
        text-transform: uppercase;
        color: var(--white);
        font-weight: 300;
    }

    #cdnmulti .cdnmulti_row h2 span {
        font-weight: bold;
        color: var(--red);
    }

    .cdnmulti_row .advantage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        position: relative;
    }

    .advantage .advantage_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 250px;
    }

    .advantage .advantage_item .advantage_icon_container {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .advantage .advantage_item .advantage_icon_container::before {
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: var(--white);
        display: none;
    }

    .advantage .advantage_item:nth-child(1) .advantage_icon_container:before {
        width: 50%;
        right: 0;
    }

    .advantage .advantage_item:nth-child(3) .advantage_icon_container:before {
        width: 50%;
        left: 0;
    }

    .advantage_icon_container .advantage_icon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--white);
        border-radius: 50%;
        background-color: var(--black-blue);
        z-index: 1;
    }

    .advantage_icon_container .advantage_icon span {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--red);
        border-radius: 50%;
    }

    .advantage_icon_container .advantage_icon span img {
        width: 80%;
        height: auto;
    }

    .advantage_item .advantage_description_container {
        width: 225px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 145px;
        border: 2px solid var(--white);
        border-radius: 20px;
        padding: 5px;
    }

    .advantage_description_container .advantage_description {
        width: 205px;
        height: 127px;
        background-color: var(--dark-gray);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advantage_description p {
        text-align: center;
        padding: 10px;
        color: var(--white);
        font-size: 17px;
        line-height: 22px;
    }

    #cdnmulti .cdnmulti_row a {
        width: 235px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: var(--md);
        background-color: var(--red);
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        transition: var(--transition);
    }

    #cdnmulti .cdnmulti_row a:hover {
        color: var(--red);
        background-color: var(--white);
    }
}