header {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--black);
    position: fixed;
    z-index: 10;
}

header .header_row {
    width: var(--margin-sm);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}

.header_row .header_logo {
    max-width: 176px;
    max-height: 41px;
    min-width: 176px;
    min-height: 41px;
}

.header_row .header_logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.header_row .header_nav {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header_nav .nav_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    gap: 30px;
}

.header_nav .nav_item a {
    color: var(--white);
    font-size: var(--xsm);
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.header_nav .nav_item a:hover {
    color: var(--red);
    font-size: var(--xsm);
    text-transform: uppercase;
    text-decoration: none;
}

.header_nav .nav_item a.btn_plataform {
    background-image: -webkit-gradient(linear, left top, right top, from(#D82242), to(#4C121C));
    background-image: -o-linear-gradient(left, #D82242, #4C121C);
    background-image: linear-gradient(to right, #D82242, #4C121C);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--white);
}

.header_nav .nav_item a.btn_plataform:hover {
    -webkit-filter: saturate(0.7);
    filter: saturate(0.7);
}

.header_nav .nav_mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .header_nav .nav_item {
        display: none;
    }

    .header_nav .nav_mobile {
        display: block;
        height: auto;
        width: auto;
    }

    .header_row .header_nav {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        position: relative;
    }

    .header_nav .nav_mobile .nav_content {
        right: -300px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        width: 230px;
        background-color: var(--black);
        height: 340px;
        overflow: hidden;
        padding: 0;
        top: 55px;
        -webkit-box-shadow: 0px 10px 20px #00000091;
        box-shadow: 0px 10px 20px #00000091;
    }

    .header_nav .nav_mobile .nav_content.active {
        right: -20px;
    }

    .nav_menu {
        width: 35px;
        height: 35px;
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .nav_menu .menu_line {
        width: 100%;
        height: 2px;
        background-color: var(--white);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
        transform: rotate(0deg) translate3d(0px, 0px, 0px);
    }

    .header_nav .nav_mobile .nav_content a {
        width: 100%;
        padding: 10px;
        font-size: var(--sm);
        text-transform: capitalize;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header_nav .nav_mobile .nav_content a:nth-child(2n) {
        background: #ffffff08;
    }

    .header_nav .nav_mobile .nav_content a:last-child {
        text-align: center;
        border-radius: 30px;
        height: auto;
        background-image: var(--gradient-red);
        width: 90%;
        margin: 10px auto 0;
    }

    .nav_menu.active .menu_line:nth-child(1) {
        -webkit-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s;
        -webkit-transform: rotate(45deg) translate3d(6px, 5px, 0px);
        transform: rotate(45deg) translate3d(6px, 5px, 0px);
    }

    .nav_menu.active .menu_line:nth-child(2) {
        width: 0%;
    }

    .nav_menu.active .menu_line:nth-child(3) {
        -webkit-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s;
        -webkit-transform: rotate(135deg) translate3d(-7px, 7px, 0px);
        transform: rotate(135deg) translate3d(-7px, 7px, 0px);
    }
}

@media screen and (max-width: 540px) {
    .header_nav .nav_mobile .nav_content a {
        font-size: var(--sm);
    }
}