#catalogos {
    width: 100%;
    height: auto;
    position: relative;
}

#catalogos .catalogos_row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-default);
    gap: 50px;
}

.catalogos_row .title_container {
    width: 100%;
    height: auto;
}

.catalogos_row .title_container .title {
    font-size: var(--lg);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--gray);
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px;
}

.catalogos_row .title_container .title::before {
    content: '';
    width: 250px;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: var(--gray);
}

.container_catalogos--itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    position: relative;
}

.container_catalogos--itens .item_catalogos {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}

.container_catalogos--itens .item_catalogos:nth-child(2n) {
    flex-direction: row-reverse;
    background-color: #0000000d;
}

.container_catalogos--itens .item_catalogos .item_catalogos--imagem {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_catalogos--itens .item_catalogos .item_catalogos--imagem img {
    width: 600px;
    margin: 0 auto;
    max-width: 600px;
    height: auto;
}

.container_catalogos--itens .item_catalogos .item_catalogos--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 30%;
    height: auto;
}

.item_catalogos--content .content_title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item_catalogos--content .content_title .title {
    font-size: var(--lg);
    font-weight: 400;
    color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.item_catalogos--content .content_title .title span {
    color: var(--gray);
}

.item_catalogos--content .content_number {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: auto;
}

.item_catalogos--content .content_number .title_num {
    font-size: 180px;
    font-weight: 800;
    color: var(--red);
    text-align: center;
}

.item_catalogos--content .content_number .title_num span {
    color: var(--gray);
}

.item_catalogos--content .content_number .title_num--category {
    font-size: var(--lg);
    text-transform: uppercase;
    color: var(--gray);
    position: relative;
    top: -10px;
    font-weight: 400;
}

.item_catalogos--content .content_description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.item_catalogos--content .content_description .description {
    font-size: var(--md);
    text-align: center;
    line-height: 24px;
    color: var(--gray);
    font-weight: 400;
}