#quemsomos_container {
    width: 100%;
    height: auto;
    position: relative;
}

.quemsomos_row {
    width: var(--margin-md);
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: var(--padding-default);
}

.quemsomos_row .quemsomos_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;
    width: 50%;
}

.quemsomos_row .quemsomos_content .title {
    font-size: var(--lg);
    font-weight: 400;
    color: var(--red);
    text-align: start;
}

.quemsomos_row .quemsomos_content .description {
    font-size: var(--md);
    color: var(--black);
    line-height: 24px;
    text-align: start;
}

@media screen and (max-width: 540px) {
    .quemsomos_row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .quemsomos_row .quemsomos_content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
    }

    .quemsomos_row .quemsomos_content .title {
        font-size: var(--xmd);
        text-align: center;
    }

    .quemsomos_row .quemsomos_content .description {
        font-size: var(--sm);
        text-align: center;
    }
}