.carouselpage_row .carousel_container .content_carousel .carousel_item img {
    width: var(--cover-w);
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    max-height: var(--cover-h);
}

#carouselPage {
    width: 100%;
    height: auto;
    position: relative;
}

.carouselpage_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
    padding: var(--padding-default);
    margin: 0 auto;
    width: var(--margin-md);
}

.carouselpage_row .title_container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.carouselpage_row .title_container .title {
    font-size: var(--lg);
    text-transform: uppercase;
    font-weight: 400;
    color: var(--red);
    text-align: center;
}

.carouselpage_row .carousel_container {
    position: relative;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.carouselpage_row .carousel_container .prev {
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: -10px;
}

.carouselpage_row .carousel_container .prev::after {
    content: '';
    position: absolute;
    background: transparent;
    border-right: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
    border-radius: 0px 3px 4px 3px;
    width: 15px;
    height: 15px;
    -webkit-clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    z-index: 0;
}

.carouselpage_row .carousel_container .next {
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    right: -10px;
    z-index: 1;
}

.carouselpage_row .carousel_container .next::after {
    content: '';
    position: absolute;
    background: transparent;
    border-right: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
    border-radius: 0px 3px 4px 3px;
    width: 15px;
    height: 15px;
    -webkit-clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    z-index: 0;
}

.carouselpage_row .carousel_container .content_carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.carouselpage_row .carousel_container .content_carousel .carousel_item {
    width: calc(100% / 4);
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 20px;
}