#techBase {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--red);
}

.techbase_row {
    width: var(--margin-md);
    margin: 0 auto;
    padding: var(--padding-default);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.techbase_row .techbase_content {
    width: 60%;
    height: auto;
    position: relative;
}

.techbase_row .techbase_content .title {
    font-size: var(--lg);
    color: var(--white);
    line-height: 40px;
    text-align: start;
    font-weight: 400;
}

.techbase_row .techbase_content .title span {
    color: var(--white);
    font-weight: 600;
}

.techbase_row .techbase_image {
    position: relative;
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.techbase_row .techbase_image .image_container {
    width: 500px;
    height: 250px;
    max-width: 500px;
    max-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.techbase_row .techbase_image .image_container img {
    position: absolute;
    top: -250px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 540px) {
    .techbase_row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .techbase_row .techbase_content {
        width: 100%;
    }

    .techbase_row .techbase_content .title {
        font-size: var(--xmd);
        line-height: 30px;
    }

    .techbase_row .techbase_image {
        width: 100%;
    }

    .techbase_row .techbase_image .image_container {
        width: 100%;
        height: auto;
    }

    .techbase_row .techbase_image .image_container img {
        position: relative;
        top: 0;
    }
}